@import './main.scss';

.question {
	@extend .flexDisplayRow ;
	flex-wrap: wrap;
  background-color: #252d4a;
  width: 40vw;
	min-width: 300px;
  height: 50vh;
	min-height: 400px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);	
	position: relative;
	h3 {
		flex-grow: 1;
		width: 50%;
		text-align: center;
		span {
			color : red
		}
	}
	h5{
		color: red;
		position: absolute;
		bottom : 0;
		left:10px;
		width: 100%
	}
}

.multiInputForm {
	min-width: 100% !important;
	margin: 0 0 !important;
}

.form{
	min-width: 45%;
	max-width: 100%;
	margin: 0 auto;
	:global {
		.MuiInputBase-root{
			.MuiSelect-select{
				border-radius: 10px;
			}
		}
		.MuiOutlinedInput-root{
			padding : 0;
		}
		.MuiFormGroup-root{
			width: 100%;
			.MuiFormControlLabel-root {
				width: fit-content;
				padding-left: 30px;

			}
		}
		.MuiInputBase-input{
			background-color: lightblue;
			border-radius: 10px;
		}
		.MuiOutlinedInput-notchedOutline{
			border-radius: 10px;
		}
		.MuiFormControl-root {
			min-width: 100%;
		}
	}
}
